# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.venv/
venv/
env/
.env

# Model weights / checkpoints
model/gpt2/
model/rag_finetuned_gpt2_ckpt/
*.pt
*.pth
*.ckpt
*.bin
*.safetensors

# Cache
.cache/
*.log

# OS
.DS_Store
Thumbs.db
